{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.4"}
  techascent/tech.ml.dataset {:mvn/version "8.003"}
  scicloj/tablecloth {:mvn/version "7.062"}
  io.github.clojure-quant/quanta-bar-warehouse {:mvn/version "0.7.76"}
  io.github.clojure-quant/quanta-missionary {:mvn/version "0.1.6"}
  }
  
 }