; saved on 2026-02-08 11:48:25
{:ownerSource "_seriesId",
 :type "LineToolArrowMarker",
 :userEditEnabled true,
 :state {:intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :bold true,
         :symbolStateVersion 2,
         :symbol "KO",
         :zOrderVersion 2,
         :title "",
         :textColor "#1E53E5",
         :currencyId nil,
         :fontsize 16,
         :unitId nil,
         :interval "1D",
         :visible true,
         :backgroundColor "#1E53E5",
         :italic false,
         :frozen false,
         :adjustedToSplitTime nil,
         :text ""},
 :points [{:time_t 1620810000,
           :offset 0,
           :price 70.27733957621051,
           :interval "1D"}
          {:time_t 1643360400,
           :offset 0,
           :price 69.6648585795106,
           :interval "1D"}],
 :id "kQVlCl",
 :linkKey "U2MqSj3xjcyV",
 :isSelectionEnabled true,
 :zorder -40}
