; saved on 2026-02-08 10:23:54
{:ownerSource "_seriesId",
 :type "LineToolHorzLine",
 :userEditEnabled true,
 :state {:linewidth 2,
         :intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :bold false,
         :linecolor "#2962FF",
         :symbolStateVersion 2,
         :symbol "KREF",
         :zOrderVersion 2,
         :textcolor "#2962FF",
         :title "",
         :linestyle 0,
         :horzLabelsAlign "center",
         :currencyId nil,
         :fontsize 12,
         :showPrice true,
         :unitId nil,
         :interval "1D",
         :visible true,
         :vertLabelsAlign "middle",
         :italic false,
         :frozen false,
         :adjustedToSplitTime nil,
         :text ""},
 :points [{:time_t 1750064400,
           :offset 0,
           :price 9.506791517928498,
           :interval "1D"}],
 :id "Uncxcm",
 :linkKey "9tAfJE1GhlHN",
 :isSelectionEnabled true,
 :zorder -5000}
