/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.settings/
.classpath
.project
.lsp
.calva
.cpcache
resources/test
profiles.clj
/tmp-charts/*
Rplots.pdf
creds.edn
.webly
.sniffer.edn
.nrepl-port
reports/*.txt
node_modules
.shadow-cljs
target
karma.conf.js
package-lock.json
package.json
shadow-cljs.edn
goldly_bindings_generated.cljs
app/demo/certs
/profiles/db/*.csv
/output/rdocument/
/output/db/stocks/*.nippy.gz
/output/db/crypto/*.nippy.gz
/output/db/random/*.nippy.gz
/output/db/shuffled/*.nippy.gz
/output/tradingview-charts
/output/
.clj-kondo
*~
\#*\#
.\#*
.~*
binaries