/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.settings/
.classpath
.project
.lsp
.calva
.cpcache
resources/test
profiles.clj
creds.edn
.webly
.sniffer.edn
.nrepl-port
reports/*.txt
node_modules
.shadow-cljs
target
karma.conf.js
package-lock.json
package.json
shadow-cljs.edn
tradingview/.clj-kondo/**
!tradingview/.clj-kondo/
!tradingview/.clj-kondo/config.edn
*~
\#*\#
.\#*
.~*
classes/
classes
.gorilla/
# database
demo/duck/
demo/.clj-kondo