{:paths ["src"
         "resources" ; tradingview javascript library +  extension data
         ]
 :deps {org.clojure/clojure    {:mvn/version "1.11.3"}
        tick/tick {:mvn/version "0.6.2"}
        prismatic/schema {:mvn/version "1.2.0"}
        nano-id/nano-id {:mvn/version "1.1.0"}
        differ/differ {:mvn/version "0.3.3"}
        babashka/fs {:mvn/version "0.4.19"}
        org.pinkgorilla/modular {:mvn/version "0.2.56"} ; persistence
        org.pinkgorilla/webly {:mvn/version "0.7.693"} ; web handlers
        ta/import {:local/root "../import" :deps/manifest :deps}
        ta/db {:local/root "../db" :deps/manifest :deps}
        }
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :goldly-docs
  {:extra-paths ["resources"]
   :extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.8.28"}}
   ; todo: perhaps this profile needs to be updated to the latest config of clj-service and webly
   :exec-fn goldly.app/goldly-server-run!
   :exec-args {:profile "jetty"
               :config {:goldly {:lazy true
                                 :src-dir "src"
                                 ; runtime
                                 :autoload-cljs-dir ["src/goldly/page"]
                                 :autoload-clj-ns [demo.env.config]
                                 :routes {:app {}
                                          :api {}}}

                        :devtools {:rdocument  {:storage-root "../../rdocument/"
                                                :url-root "/api/rdocument/file/"}
                                   :collections {:demo [:clj "demo/notebook/"]}}

                        :ta {:warehouse {:series  {:crypto "../db/crypto/"
                                                   :stocks "../db/stocks/"
                                                   :random "../db/random/"
                                                   :shuffled  "../db/shuffled/"}}
                             :tradingview {:charts-path "../resources/tradingview-charts/"
                                           :template-path "src/ta/tradingview/chart/template/"}}

                        :user {}}}}

  :make-demo-charts {:exec-fn  demo.chartmaker/make-demo-charts}

;
  }}
