{:paths ["src"
         "resources" ; tradingview javascript library +  extension data
         ]
 :deps {org.clojure/clojure    {:mvn/version "1.11.3"}
        tick/tick {:mvn/version "0.6.2"}
        prismatic/schema {:mvn/version "1.2.0"}
        nano-id/nano-id {:mvn/version "1.1.0"}
        differ/differ {:mvn/version "0.3.3"}
        babashka/fs {:mvn/version "0.4.19"}
        com.rpl/specter {:mvn/version "1.1.4"}
        org.pinkgorilla/modular {:mvn/version "0.2.69"} ; persistence
        io.github.clojure-quant/quanta-calendar {:mvn/version "0.6.29"}
        io.github.clojure-quant/quanta-bar-warehouse {:mvn/version "0.6.62"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  

;
  }}
