; saved on 2026-02-06 12:26:29
{:ownerSource "_seriesId",
 :type "LineToolHorzRay",
 :userEditEnabled true,
 :state {:linewidth 2,
         :intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :bold false,
         :linecolor "#2962FF",
         :symbolStateVersion 2,
         :symbol "KO",
         :zOrderVersion 2,
         :textcolor "#2962FF",
         :title "",
         :linestyle 0,
         :horzLabelsAlign "center",
         :currencyId nil,
         :fontsize 12,
         :showPrice true,
         :unitId nil,
         :interval "1D",
         :visible true,
         :vertLabelsAlign "top",
         :italic false,
         :frozen false,
         :adjustedToSplitTime nil,
         :text ""},
 :points [{:time_t 1682326800,
           :offset 0,
           :price 64.98257648030088,
           :interval "1D"}],
 :id "Dq6XrD",
 :linkKey "PXsqMbbyOl91",
 :isSelectionEnabled true,
 :zorder -313}
