; saved on 2026-02-06 12:26:29
{:ownerSource "_seriesId",
 :type "LineToolCrossLine",
 :userEditEnabled true,
 :state {:linewidth 2,
         :intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :linecolor "#2962FF",
         :symbolStateVersion 2,
         :symbol "KO",
         :zOrderVersion 2,
         :title "",
         :showTime true,
         :linestyle 0,
         :currencyId nil,
         :showPrice true,
         :unitId nil,
         :interval "1D",
         :visible true,
         :frozen false,
         :adjustedToSplitTime nil},
 :points [{:price 71.01742078055624,
           :time_t 1686906000,
           :offset 0,
           :interval "1D"}],
 :id "niL0xL",
 :linkKey "3XiV44bHTztK",
 :isSelectionEnabled true,
 :zorder -157}
