; saved on 2026-02-08 11:48:25
{:ownerSource "_seriesId",
 :type "LineToolText",
 :userEditEnabled true,
 :state {:intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :bold false,
         :anchored false,
         :color "#2962FF",
         :fillBackground false,
         :symbolStateVersion 2,
         :symbol "KO",
         :borderColor "#707070",
         :backgroundTransparency 70,
         :fixedSize true,
         :wordWrap false,
         :zOrderVersion 2,
         :title "",
         :drawBorder false,
         :currencyId nil,
         :fontsize 14,
         :unitId nil,
         :interval "1D",
         :visible true,
         :backgroundColor "rgba(41, 98, 255, 0.25)",
         :wordWrapWidth 200,
         :italic false,
         :frozen false,
         :adjustedToSplitTime nil,
         :text "ASD"},
 :points [{:time_t 1649235600,
           :offset 0,
           :price 72.6251833968935,
           :interval "1D"}],
 :id "Q7dHoz",
 :linkKey "CA14IhWQhuxz",
 :isSelectionEnabled true,
 :zorder -79}
