; saved on 2026-02-06 12:26:29
{:ownerSource "_seriesId",
 :type "LineToolTable",
 :userEditEnabled true,
 :state {:intervalsVisibilities {:minutesFrom 1,
                                 :daysTo 366,
                                 :weeksFrom 1,
                                 :secondsTo 59,
                                 :hoursTo 24,
                                 :monthsTo 12,
                                 :months true,
                                 :days true,
                                 :seconds true,
                                 :daysFrom 1,
                                 :weeksTo 52,
                                 :monthsFrom 1,
                                 :secondsFrom 1,
                                 :hours true,
                                 :ticks true,
                                 :ranges true,
                                 :hoursFrom 1,
                                 :minutes true,
                                 :minutesTo 59,
                                 :weeks true},
         :horzAlign "left",
         :anchored false,
         :symbolStateVersion 2,
         :symbol "KO",
         :borderColor "#DBDBDB",
         :colsCount 3,
         :zOrderVersion 2,
         :title "",
         :textColor "#0F0F0F",
         :rowHeights [0 0 0 0 0],
         :currencyId nil,
         :columnWidths [120 120 120],
         :fontSize 14,
         :unitId nil,
         :interval "1D",
         :cells [["1" "2" "3"]
                 ["4" "5" "6"]
                 ["7" "8" "9"]
                 ["10" "11" "12"]
                 ["13" "14" "15"]],
         :visible true,
         :backgroundColor "rgba(255, 249, 196, 1)",
         :frozen false,
         :rowsCount 5},
 :points [{:time_t 1612256400,
           :offset 0,
           :price 76.47870966779712,
           :interval "1D"}],
 :id "HPnS7G",
 :linkKey "4MiPogWjIfCB",
 :isSelectionEnabled true,
 :zorder -20}
