{:name "quanta-tradingview"
 :web/routes [["/tv/time" {:get quanta.tradingview.handler.time/time-handler
                           :middleware [webserver.middleware.api/wrap-api-handler]
                           :services #{}}]
              ; bars and marks
              ["/tv/history" {:get quanta.tradingview.handler.history/history-handler
                              :middleware [webserver.middleware.api/wrap-api-handler
                                           webserver.middleware.ctx/ctx-middleware]
                              :services #{:bar-db}}]
              ["/tv/marks" {:get quanta.tradingview.handler.mark/marks-handler
                            :middleware [webserver.middleware.api/wrap-api-handler
                                         webserver.middleware.ctx/ctx-middleware]
                            :services #{}}]
              ; asset
              ["/tv/search" {:get quanta.tradingview.handler.asset/search-handler
                             :middleware [webserver.middleware.api/wrap-api-handler
                                          webserver.middleware.ctx/ctx-middleware]
                             :services #{:asset-db}}]
              ["/tv/symbols" {:get quanta.tradingview.handler.asset/symbols-handler
                              :middleware [webserver.middleware.api/wrap-api-handler
                                           webserver.middleware.ctx/ctx-middleware]
                              :services #{:asset-db}}]
              #_["/tv/config" {:get quanta.tradingview.handler.asset/search-handler
                               :middleware [webserver.middleware.api/wrap-api-handler
                                            webserver.middleware.ctx/ctx-middleware]
                               :services #{:asset-db}}]

              ;; storage 
              ["/tv/storage/1.1/charts" {:get quanta.tradingview.handler.storage/load-chart-handler
                                         :post quanta.tradingview.handler.storage/save-chart-handler
                                         :put quanta.tradingview.handler.storage/modify-chart-handler
                                         :delete quanta.tradingview.handler.storage/delete-chart-handler
                                         :middleware [webserver.middleware.api/wrap-api-handler
                                                      ring.middleware.multipart-params/wrap-multipart-params
                                                      webserver.middleware.ctx/ctx-middleware]
                                         :services #{:tradingview}}]

              #_["/tv/storage/1.1/study_templates" {:get quanta.tradingview.handler.storage/load-template-handler
                                                    :post quanta.tradingview.handler.storage/save-template-handler
                                         ;:put quanta.tradingview.handler.storage/modify-chart-handler
                                         ;:delete quanta.tradingview.handler.storage/delete-chart-handler
                                                    :middleware [webserver.middleware.api/wrap-api-handler
                                                                 ring.middleware.multipart-params/wrap-multipart-params
                                                                 webserver.middleware.ctx/ctx-middleware]
                                                    :services #{:tradingview}}]


              ;["/error" {:get demo.error/error-handler}]
              ]


 ;:clj-services {:name "quanta-tradingview"
 ;               :permission #{}
 ;               :symbols [; tradingview api (via websocket)
 ;                         ta.tradingview.handler.config/get-server-config
 ;                         ta.tradingview.handler.asset/symbol-info
 ;                         ta.tradingview.handler.asset/symbol-search
 ;                         ta.tradingview.handler.time/server-time]}
 
; :cljs-routes {"algo/tradingview" ta.tradingview.goldly.page.tradingview-algo/tvalgo-page
;               "tradingview" ta.tradingview.goldly.page.tradingview-udf/tradingview-page}
 }