{:name "quanta-tradingview"
 ; runtime
 ;:api-routes {"tv/" {:get  {"config" ta.tradingview.handler/wrapped-config-handler 
;                            "time" ta.tradingview.handler/wrapped-time-handler
;                            "search" ta.tradingview.handler/wrapped-search-handler 
;                            "symbols" ta.tradingview.handler/wrapped-symbols-handler
;                            "history" ta.tradingview.handler/wrapped-history-handler 
                            ;"marks" ta.tradingview.handler/wrapped-marks-handler}
;                     "storage/1.1/" {"charts" {:get  ta.tradingview.handler/wrapped-load-chart-handler
;                                               :post  ta.tradingview.handler/wrapped-save-chart-handler
;                                               :put  ta.tradingview.handler/wrapped-modify-chart-handler 
                                               ;:delete  ta.tradingview.handler/wrapped-delete-chart-handler}
;                                     "study_templates" {:get ta.tradingview.handler/wrapped-load-template-handler
;                                                        :post ta.tradingview.handler/wrapped-save-template-handler 
;                                               ; :put ta.tradingview.handler-storage/ 
;                                               ; :delete ta.tradingview.handler-storage/
;                                                        }}}}
 
 :web/routes [["/tv/time" {:get quanta.tradingview.handler.time/time-handler
                           :middleware [ webserver.middleware.api/wrap-api-handler]
                           :services #{}}
               
               
               ]
              ;["/error" {:get demo.error/error-handler}]
              ]


 ;:clj-services {:name "quanta-tradingview"
 ;               :permission #{}
 ;               :symbols [; tradingview api (via websocket)
 ;                         ta.tradingview.handler.config/get-server-config
 ;                         ta.tradingview.handler.asset/symbol-info
 ;                         ta.tradingview.handler.asset/symbol-search
 ;                         ta.tradingview.handler.time/server-time]}

; :cljs-routes {"algo/tradingview" ta.tradingview.goldly.page.tradingview-algo/tvalgo-page
;               "tradingview" ta.tradingview.goldly.page.tradingview-udf/tradingview-page}
 

 }