{:paths ["src" "resources" ]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.4"}
  org.clj-commons/hickory {:mvn/version "0.7.3"} 
  ;org.pinkgorilla/modular {:mvn/version "0.5.80"} ; app start
  org.pinkgorilla/modular {:local/root "../../../pink-gorilla/modular" :deps/manifest :deps}
  io.github.clojure-quant/quanta-tradingview {:local/root "../tradingview" :deps/manifest :deps}
  io.github.clojure-quant/algo-florian {:local/root "../../algo-florian" :deps/manifest :deps}
  io.github.clojure-quant/quanta-studio {:local/root "../../quanta-studio2/studio" :deps/manifest :deps}
  }
 
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                            :sha "9e35c979860c75555adaff7600070c60004a0f44"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  ; web compile
  
  :npm-install {:exec-fn webly.spa/webly-build
                :exec-args {:config ["quanta/studio-config.edn"
                                     ;"${MYVAULT}/quanta.edn"
                                     ]
                            :profile "npm-install"}}

  :watch {:exec-fn modular.system/start!
          :exec-args {:profile "watch"
                      :config  ["quanta/studio-config.edn"
                                ;"${MYVAULT}/quanta.edn"
                                ]
                      :services "quanta/studio-services.edn"}}

  
  :make-demo-charts {:exec-fn  demo.chartmaker/make-demo-charts}

;
  }}
