{:web-server {:port 8083 :host "0.0.0.0"}
 
 :extension {:disabled #{"ui-tailwind"
                         "missionary-sci"}}
  ;:spa {:title "Quanta Juan FX"
  ;     :mount-fn router.app/mount}
 
 ;:reitit {:wrap juan.app/wrap-app}
 
 :tradingview {:charts-path "./tv/chart/"
               :template-path "/tv/template/"
               :marks-path "/tv/mark/"
               :config {:supports_time true  ; we send our server-time
                        :supports_search true ;search and individual symbol resolve logic.
                        :supports_marks false
                        :supports_timescale_marks false
                        :supports_group_request false
                        :supported_resolutions ["D"] ; ["1" "5" "15" "30" "60" "1D" "1W" "1M"]
                        ; exchanges and categories get set based on the asset db.
                        ;:symbols_types [{:value "" :name "All"}
                        ;                {:value ":equity" :name "Stocks"}
                        ;                {:value ":etf" :name "ETF"}
                        ;                {:value ":fx" :name "FX"}
                        ;                {:value ":crypto" :name "Crypto"}
                        ;                {:value ":crypto-future" :name "CryptoFuture"}]
                        ;:exchanges [{:value "" :name "All Exchanges" :desc ""}
                        ;            {:value "NASDAQ" :name "US Nasdaq" :desc ""}
                        ;            {:value "NYSE" :name "US NYSE" :desc ""}]
                        }
               :events-path "./tv/events/"
               }



;
 }