{:web-server {:port 8083 :host "0.0.0.0"}
 
 :extension {:disabled #{"ui-tailwind"
                         "missionary-sci"}}
  ;:spa {:title "Quanta Juan FX"
  ;     :mount-fn router.app/mount}
 
 ;:reitit {:wrap juan.app/wrap-app}
 
 :tradingview {:charts-path "./tv/chart/"
               :template-path "./tv/template/"
               :marks-path "./tv/mark/"}
 
 :assets [{:asset "A" :name "asdf" :category "stock" :exchange "US"}
          {:asset "AA" :name "anonomynous alcoholico" :category "stock" :exchange "US"}]

;
 }